In [1]:
import pandas as pd

In [45]:
df = pd.read_csv('kepler.csv')
df = df[['kepler_name','koi_score','koi_period','koi_prad','koi_teq','koi_slogg','koi_srad']]

In [56]:
df = df[df['kepler_name'].notna()]

In [61]:
df = df[df['koi_score'].notna()]

In [77]:
df

,kepler_name,koi_score,koi_period,koi_prad,koi_teq,koi_slogg,koi_srad
0,Kepler-227 b,1.000,9.488036,2.26,793.0,4.467,0.927
1,Kepler-227 c,0.969,54.418383,2.83,443.0,4.467,0.927
4,Kepler-664 b,1.000,2.525592,2.75,1406.0,4.438,1.046
5,Kepler-228 d,1.000,11.094321,3.90,835.0,4.486,0.972
6,Kepler-228 c,1.000,4.134435,2.77,1160.0,4.486,0.972
...,...,...,...,...,...,...,...
7612,Kepler-1482 b,1.000,12.253843,1.00,678.0,4.579,0.820
7658,Kepler-90 f,0.995,124.922516,3.37,407.0,4.317,1.200
8817,Kepler-1646 b,1.000,4.485592,0.95,365.0,5.097,0.193
9014,Kepler-452 b,0.771,384.847556,1.09,220.0,4.580,0.798
9083,Kepler-1629 b,0.000,3.875943,0.68,1081.0,4.541,0.893

In [82]:
df.columns=['name','confidence','period','radius','temperature','gravity','star size']

In [85]:
df_num = df.iloc[:,1:]

In [86]:
df_num

      confidence      period  radius  temperature  gravity  star size
0          1.000    9.488036    2.26        793.0    4.467      0.927
1          0.969   54.418383    2.83        443.0    4.467      0.927
4          1.000    2.525592    2.75       1406.0    4.438      1.046
5          1.000   11.094321    3.90        835.0    4.486      0.972
6          1.000    4.134435    2.77       1160.0    4.486      0.972
...          ...         ...     ...          ...      ...        ...
7612       1.000   12.253843    1.00        678.0    4.579      0.820
7658       0.995  124.922516    3.37        407.0    4.317      1.200
8817       1.000    4.485592    0.95        365.0    5.097      0.193
9014       0.771  384.847556    1.09        220.0    4.580      0.798
9083       0.000    3.875943    0.68       1081.0    4.541      0.893

[2348 rows x 6 columns]

In [12]:
df_name = df[df['kepler_name'].notna()]

In [19]:
df2 = df_name[df_name['koi_disposition'] == 'CONFIRMED']

In [23]:
df3 = df2[df2['koi_pdisposition'] == 'CANDIDATE']

In [24]:
df3

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
4,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509
5,10872983,K00756.01,Kepler-228 d,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-232.0,4.486,0.054,-0.229,0.972,0.315,-0.105,296.28613,48.224670,15.714
6,10872983,K00756.02,Kepler-228 c,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-232.0,4.486,0.054,-0.229,0.972,0.315,-0.105,296.28613,48.224670,15.714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7658,11442793,K00351.07,Kepler-90 f,CONFIRMED,CANDIDATE,0.995,0,0,0,0,...,-131.0,4.317,0.110,-0.121,1.200,0.195,-0.160,284.43350,49.305161,13.804
8817,7350067,K06863.01,Kepler-1646 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-25.0,5.097,0.055,-0.050,0.193,0.034,-0.025,287.52640,42.912899,15.737
8956,9730163,K02704.03,Kepler-445 d,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,-58.0,5.113,0.140,-0.140,0.189,0.125,-0.054,298.73611,46.498634,17.475
9014,8311864,K07016.01,Kepler-452 b,CONFIRMED,CANDIDATE,0.771,0,0,0,0,...,-150.0,4.580,0.034,-0.127,0.798,0.150,-0.075,296.00369,44.277561,13.426
9083,7935997,K05447.02,Kepler-1629 b,CONFIRMED,CANDIDATE,0.000,0,0,0,0,...,-85.0,4.541,0.013,-0.117,0.893,0.125,-0.033,280.20660,43.774288,12.750